.card {
    width: 40vw;
    height: 40vw;
    background-color: white;
    padding: 20px;
    margin: 10px;
    font-size: 0.7em;
    font-family: 'Press Start 2P';
    word-wrap: break-word;
}

.card:active {
    background-color: red;
    box-shadow: 10px 5px 5px;
}